html, body{
  margin: 0px;
  height: 100%;
overflow-x: hidden;
}

.header{
display: flex;
flex-direction: column;
justify-content: space-between;
height:100%;
width: 100%;

background-image: url(./images/animatedPlan.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;


}
.top{
  display:flex;
  justify-content: space-around;
  padding-top: 2.92%;
width:100%;
}
.left{
width: 34%;
height: 70%;
margin-top: 0px;
}
.right{
  display: flex;
  justify-content: space-between;
}
svg{
  margin-left: 0.366%;
  width: 129%;
  height: 100%;
}
.nav_items>ul{
  display: flex;
}
.nav_items>ul>li{
  margin: 0 15px 65.217% 15px;
  list-style: none;
  font-size: 135%;
  position: relative;
  display: flex;
  font-family: helvetica;
}
.nav_buttons {
display: flex;
justify-content: space-between;
margin-left: 4.026354%;

}
.nav_button2>div{
  /* padding:4px 3px 4px 3px; */
  padding: 8.3% 6.25% 8.3% 6.25%;
}

.nav_items{
  /* display: flex; */
  margin-left: 0px;

}

.nav_button1{
  background-color: black;
border-radius: 50%;
margin-right:10px;
padding: 13px;
width: 48px;
height: 48px;
}
.nav_button2{
  background-color: black;
border-radius: 50%;

padding: 13px;
width: 48px;
height: 48px;
}

.hamburger1{

  background-color: rgb(150,150,150);
  width: 100%;
  height: 1px;
  margin-bottom: 3px;
}
.hamburger2{
  background-color: rgb(150,150,150);
  width: 100%;
  height: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.hamburger3{
  background-color: rgb(150,150,150);
  width: 100%;
  height: 1px;
  margin-top: 3px;
}
.planeIcon{
  filter: invert(80%);
width:14px;
height:14px;
padding-left: 2px;
padding-right: 2px;
}
.bottom{

  display: flex;
  justify-content: space-between;

  margin-left: 1.46%;
  margin-right: 1.46%;
  padding:1.97% 0 1.97% 0;
  align-items: center;
  border-bottom: 1px solid black;
}
.left2{
display: flex;

  margin-left: 3.8%;
  font-family: Arial;
  font-size: 125%;
  font-weight: bold;

}
.right2{
  display: flex;
  margin-right: 7.54%;
}
.right2>button{

  margin-right: 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 12px;
  border-radius: 25px;
  font-family: sans-serif;
  font-weight: bold;
}
/* *********************Secondpage styling*************************** */

.secondPage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
height: auto;
  margin: 4.16% 0px 0px 0px;


}
.top2{
  display: flex;
width: 44.07%;

    font-size: 218.75%;
    margin-left: 44%;

    margin-right: 12%;

    margin-top: 1.39%;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;

  }
.bottom2{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 44%;

}

.bottom2_top{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
width: 100%;
height: 100%;

}
.bottom2_bottom{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
width: 100%;
height: auto;

}
.bottom2_1{

  margin: 9.8% 7.83% 1.96% 0;

  border-top: 1px solid black;
}
.bottom2_2{
    margin: 9.8% 17.12% 1.96% 0;

  border-top: 1px solid black;
}
.bottom2_3{

  margin: 5.5% 7.84% 9.2% 0;

  border-top: 1px solid black;
}
.bottom2_4{
    margin: 5.6% 17.12% 9.2% 0;

  border-top: 1px solid black;
}
.bottom2_content>p{
  font-size: 143.75%;
color: rgb(160,160,160);
}

/* ********************thirdpage styling**************** */

.thirdpage{                                           /*third  page style*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height:100%;
margin: 0px;
width: 100%;

}

/* ********************third page->left column styling*********** */

.thirdpage_1{                                               /*thirdpage column 1*/

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 33.33%;
  background-color: black;
  color: white;
}



.thirdpage_1>h1{
  padding: 7.611% 4.39% 8.2128% 11.55%;
  font-family: sans-serif;
  /* font-size: 25px; */
width: 32.94%;
}
.content1{                                                    /*thirdpage column 1 top heading*/
  font-family: sans-serif;
  display: flex;
  margin-left: 11.71%;
  margin-right: 11.8%;
      margin-bottom: 3.2%;
  width:76.433%;
  font-size: 125%;
  flex-direction: column;
  justify-content: space-around;
}
.thirdpage_1_button{                                          /*thirdpage column 1 bottom submit button*/
background-color: black;
border: 1px solid white;
font-size: 74%;
width: 40.04%;
font-family: sans-serif;
border-radius: 20px;
padding: 12px 0.57%;

margin: 0 68.96% 0 0;
color: white;
font-weight: bold;
}
/* ********************third page->center column styling*********** */
.thirdpage_2{                                               /*thirdpage column 2*/
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: sans-serif;

  height: 100%;
  width: 33.33%;
  background-image: url(./images/aircraft.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  }
.thirdpage_2>h1{                                              /*thirdpage column 2 bottom only heading*/

font-size: 2.5vw;
    margin-left: 30.24%;
    margin-right: 30.24%;
    font-family: sans-serif;
    color: white;
    white-space: nowrap;
    width:39.4%
}
.thirdpage_2>h1>span{                                         /*thirdpage column 2 heading span*/
  color:black;
margin: 0px;
}

/* ********************third page->right column styling*********** */


.thirdpage_3{                                               /*thirdpage column 3*/
  display: flex;
flex-direction: column;
  justify-content:  flex-end;
  align-items: center;
  height: 100%;
  width: 33.33%;
  background-color: #BC7155;
white-space: nowrap;

}

.thirdpage_3>h1{                                              /*thirdpage column 3 bottom heading*/
  font-family: sans-serif;
font-size: 2.5vw;
  margin-top:32%;
  margin-left: 25.0395361096%;
  margin-right: 25.0395361096%;
  color:white;
}
.thirdpage_3>svg{

  margin-left:22%;

width: 75%;
height: 100%;
}
/* ******************************fourth page styling*********************** */

.fourthPage{                                           /*fourth  page style*/
  display: flex;

flex-direction: column;
justify-content: center;
  height:auto;

width: 100%;

}

.section{
  display: flex;
  justify-content: center;
  width: auto;
}
.heading{
  width: 37.5%;
  margin-top: 5%;
  margin-bottom: 5.7%;
  margin-left: 8.05%;
  font-size: 3.7vw;
  font-family: helvetica;
letter-spacing: -0.05em;
}
.image{
  display: flex;
  width: 41.6%;
  height: 58.9%;
  margin-bottom: 10%;
}
.barcelonaimage{
  width: 100%;
  height: 441.8px;
  border-bottom-right-radius: 50px;
}
.destinationNames{
  display: flex;
  width: 37%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5.53%;
  margin-bottom: 10%;
}
.destinationNames_top{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.destinationNames_bottom{
  display: flex;

  justify-content: space-between;
width: 100%;
}
.barcelonaGRO{
  display: flex;
  flex-direction: column;
font-family: helvetica;
font-weight: bold;
  border-top: 1px solid lightgrey;
border-bottom: 1px solid lightgrey;
border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44.15%;
  height: 100%;

}
.IbizaIBZ{
  display: flex;
  flex-direction: column;
  font-family: helvetica;
  font-weight: bold;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44.15%;
  height: 100%;
  margin-left: 11.7%;
}
.CannesCEQ{
  display: flex;
  flex-direction: column;
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
  
  border-bottom-right-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44.15%;
  height: 100%;
}
.ParisLBG{
  display: flex;
  flex-direction: column;
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;

  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44.15%;
  height: 100%;
  margin-left: 11.7%;
}
.barcelonaGRO> span{
  font-style: helvetica;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 50%;
}
.IbizaIBZ> span{
  font-style: helvetica;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 50%;
}
.CannesCEQ> span{
  font-style: helvetica;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 50%;
}
.ParisLBG> span{
  font-style: helvetica;
  font-weight: lighter;
  margin-bottom: 10px;
margin-top: 50%;
}

/* **************************fifth page styling************************* */
.fifthPage{
  display: flex;
  width: 1366px;
  height: 120%;

}
.left_5{
  width: 45%;
  height:100%;
  background-color: rgb(11,12,25);
}
.right_5{
  width: 55%;
  height:100%;
  background-color: rgb(22,23,35);
}
.right_5>p{
  margin-top: 370px;
  color: white;
margin-left: 60px;
margin-right: 50px;
font-size: 19px;
font-family: sans-serif;
}
.right_5>h1{
  font-size: 60px;
  font-family: sans-serif;
  color: white;
  margin-left: 60px;
}
/* ***********************************sixth page********************************* */


.sixthPage{                     /*  ***********sixt page styling********* */
display: flex;
flex-direction: column;
width: 1366px;
height: auto;
}
.experience_heading{                         /************main heading div***********/
  width: 800px;
  height: auto;
}
.experience_heading_style{                   /************main heading styling***********/
  font-family: helvetica, Arial, monospace;
  font-size: 170px;
  letter-spacing: -0.05em;
line-height: 0.8em;
margin-top: 20px;
margin-left: 50px;
margin-bottom: 90px;
}

 /*************************experience body main div*********************************/

.experience_body{
  display: flex;
  justify-content: flex-start;
width:1366px;
height: auto;

}

/*******experience body left column paragraph styling********/

.experience_body_left{
  width: 643px;
height: auto;
}
.experience_body_left>p{
  font-family: helvetica;
  font-size: 17px;
  margin-left: 60px;
  margin-top: 0px;
  margin-right: 250px;
}

                                                        /************experience body right div***********/
.experience_body_right{
  display: flex;
  flex-direction: column;
  width: 723px;
  height: auto;
}
.experience_body_right_top{                  /*********experience right top styling**************/
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 723px;
}
.experience_body_right_center{              /************experience right center styling***********/
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 723px;
}
.experience_body_right_bottom{              /************experience right bottom styling***********/
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 723px;
}

/************experience right top left style***********/

.experience_body_right_top_lft{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

                                                    /************experience right top right style***********/
.experience_body_right_top_rht{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/************experience right center left style***********/
.experience_body_right_center_lft{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
width: 1462px;
}

                                                      /************experience right center right style***********/
.experience_body_right_center_rht{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/************experience right bottom left style***********/
.experience_body_right_bottom_lft{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
width: 1608px;
}

                                                    /************experience right bottom right style***********/
.experience_body_right_bottom_rht{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* *****************************experience body right top left div styling*************** */
.experience_body_right_top_lft> div{
  width:90px;
  height:90px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
}

.experience_body_right_top_lft> div svg{
  width:40px;
  height:40px;
/* margin-left: 20px; */
}

.experience_body_right_top_lft> span{
  font-family: sans-serif;
  font-size: 20px;
font-weight: bolder;
margin-top: 30px;
}
.experience_body_right_top_lft> p{
  font-size: 19px;
  font-family: sans-serif;
  margin-right: 40px;
}

/* *****************************experience body right top right div styling*************** */

.experience_body_right_top_rht> div{
  width:90px;
  height:90px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
}
.experience_body_right_top_rht> div svg{
  width:40px;
  height:40px;
/* margin-left: 20px; */
}
.experience_body_right_top_rht> span{
  font-family: sans-serif;
  font-size: 20px;
font-weight: bolder;
margin-top: 30px;
}
.experience_body_right_top_rht> p{
  font-size: 19px;
  font-family: sans-serif;
  margin-right: 50px;
}


/* *****************************experience body right center left div styling*************** */
.experience_body_right_center_lft> div{
  width:90px;
  height:90px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
}

.experience_body_right_center_lft> div svg{
  width:40px;
  height:40px;
/* margin-left: 20px; */
}

.experience_body_right_center_lft> span{
  font-family: sans-serif;
  font-size: 20px;
font-weight: bolder;
margin-top: 30px;
}
.experience_body_right_center_lft> p{
  font-size: 19px;
  font-family: sans-serif;
  margin-right: 40px;
}

/* *****************************experience body right center right div styling*************** */

.experience_body_right_center_rht> div{
  width:90px;
  height:90px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
}
.experience_body_right_center_rht> div svg{
  width:40px;
  height:40px;
/* margin-left: 20px; */
}
.experience_body_right_center_rht> span{
  font-family: sans-serif;
  font-size: 20px;
font-weight: bolder;
margin-top: 30px;
}
.experience_body_right_center_rht> p{
  font-size: 19px;
  font-family: sans-serif;
  margin-right: 50px;
}

/* *****************************experience body right bottom left div styling*************** */
.experience_body_right_bottom_lft> div{
  width:90px;
  height:90px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
}

.experience_body_right_bottom_lft> div svg{
  width:40px;
  height:40px;
/* margin-left: 20px; */
}

.experience_body_right_bottom_lft> span{
  font-family: sans-serif;
  font-size: 20px;
font-weight: bolder;
margin-top: 30px;
}
.experience_body_right_bottom_lft> p{
  font-size: 19px;
  font-family: sans-serif;
  margin-right: 40px;
}

/* *****************************experience body right bottom right div styling*************** */

.experience_body_right_bottom_rht> div{
  width:90px;
  height:90px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
}
.experience_body_right_bottom_rht> div svg{
  width:40px;
  height:40px;
/* margin-left: 20px; */
}
.experience_body_right_bottom_rht> span{
  font-family: sans-serif;
  font-size: 20px;
font-weight: bolder;
margin-top: 30px;
}
.experience_body_right_bottom_rht> p{
  font-size: 19px;
  font-family: sans-serif;
  margin-right: 50px;
}
/* ****************************experience button style************************ */

.experience_button{
  color: white;
  font-family: sans-serif;
  background-color: black;
  padding: 12px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 80px;
  border-radius: 30px;
}
/* *********************************experience image style************************* */

.experience_image{
  width:1252;
  height:704;
  margin-left: 60px;
}


/* *****************************seventh page************************************ */

.seventhPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 1366px;
  background-image: url(./images/clouds.png);
  filter: brightness(90%);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.seventhPage{
  font-size: 30px;
font-family: sans-serif;
color: grey;
}

.bookingButton> button{
  font-size: 120px;

  font-family: sans-serif;
  font-weight: bold;
  opacity: 1;
  border-style: none;
  background-color: transparent;
}

/* ***********************************footer page*************************** */

.footerPage{
  display: flex;
  flex-direction: column;
justify-content: space-around;
  width: 1366px;
  height: auto;
background-color: black;
color: white;
}
.footerLogo>svg{
  width:100px;
  height: 100px;
  margin-left: 40px;
  margin-bottom: 50px;
}
.footerCenter{
  display: flex;
  justify-content: flex-start;
}
.footerCenter_left{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 517px;
}
.footerCenter_left> ul{
  display: flex;
  justify-content: flex-start;
  /* background-color: white; */
list-style: none;
}
.footerCenter_left> ul li{
  background-color: white;
  margin-right: 10px;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 50px;
}
.footerCenter_left>span{
  margin-left: 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.svg>svg{
  color: black;
  width: 20px;
  height: 20px;
}
/* *********************************footer page center right********************* */
.footerCenter_right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 850px;
}
.footerCenter_right_top{
  display: flex;
  justify-content: flex-start;
}
.footerCenter_right_top> div{
  margin-right: 100px;

}
.footerCenter_right_top_1>h4{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
margin-top: 0px;
font-size: 20px;
}
.footerCenter_right_top_1>ul{
  color: grey;
  list-style: none;
  line-height: 30px;
padding-left: 0px;
font-family: sans-serif;
font-size: 18px;
}


.footerCenter_right_top_2>h4{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
margin-top: 0px;
font-size: 20px;
}
.footerCenter_right_top_2>ul{
  color: grey;
  line-height: 30px;
  list-style: none;
padding-left: 0px;
font-family: sans-serif;
font-size: 18px;
}


.footerCenter_right_top_3>h4{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
margin-top: 0px;
font-size: 20px;
}
.footerCenter_right_top_3>ul{
  color: grey;
  list-style: none;
  line-height: 30px;
padding-left: 0px;
font-family: sans-serif;
font-size: 18px;
}

/* ******************************center bottom**************************** */
.footerCenter_right_bottom{
  justify-content: flex-start;
  display: flex;
}
.footerCenter_right_bottom> div{
  margin-right: 129px;
}
.footerCenter_right_bottom_1>h4{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
margin-top: 0px;
font-size: 20px;
}
.footerCenter_right_bottom_1>ul{
  color: grey;
line-height: 30px;
  list-style: none;
padding-left: 0px;
font-family: sans-serif;
font-size: 18px;
}


.footerCenter_right_bottom_2>h4{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
margin-top: 0px;
font-size: 20px;
}
.footerCenter_right_bottom_2>ul{
  color: grey;
  line-height: 30px;
  list-style: none;
padding-left: 0px;
font-family: sans-serif;
font-size: 18px;
}

/* ****************************footer bottom***************************** */

.footerBottom{
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* ********************************left*************************** */
.footerBottom_lft{
  display: flex;
  flex-direction: column;
  width: 517px;
}
.footerBottom_lft>span{
  margin-left:40px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.footerBottom_lft>p{
  margin-left:40px;
  font-size: 15px;
  font-family: sans-serif;
  color: grey;
  width: 300px;
}
/* **********************************right***************************** */
.footerBottom_rht{
  display: flex;
  flex-direction: column;
width: 850px;
  align-items: flex-start;
}
.footerBottom_rht>ul{
  display: flex;
  justify-content: flex-start;
margin-top: 0px;
  list-style: none;

  color: grey;
  padding-left: 0px;
}
.firstlist{
  margin-right: 100px;
  font-size: 20px;
  margin-left: 0px;
}
.secondlist{
  margin-right: 70px;
  font-size: 20px;
}

.thirdlist{

  font-size: 20px;
}
.footerBottom_rht>p{
  color: grey;
  font-family: sans-serif;
  font-size: 15px;
width:770px;
}
